<div class="callback">
  <h2 class="callback-title">Зворотній зв'язок</h2>
  <form class="callback-form">
    <label class="callback-label-name">Ім'я</label>
    <input
      class="callback-input-name"
      type="text"
      name="text"
      placeholder="Введіть ім'я"
    />
    <label class="callback-label-tel">Номер телефону</label>
    <input
      class="callback-input-tel"
      type="tel"
      name="tel"
      placeholder="Введіть номер
    телефону"
    />
    <button type="submit" class="callback-btn">Запросити виклик</button>
  </form>
</div>
