<div class="header">
  <nav class="heder-nav">
    <a href="/src/index.html" class="link elem-logo1" target="_self">
      <img src="./img/logo1.svg" alt="Logo 1" width="170" />
    </a>
    <ul class="header-list">
      <li>
        <a href="./index.html" class="link elem-text" target="_self">Головна</a>
      </li>
      <li>
        <a href="./about-us.html" class="link elem-text" target="_self"
          >Про нас</a
        >
      </li>
      <li>
        <a href="./reservation.html" class="link elem-text" target="_self"
          >Забронювати</a
        >
      </li>
      <li>
        <a href="./contacts.html" class="link elem-text" target="_self"
          >Контакти</a
        >
      </li>
      <li>
        <a href="./account.html" class="link elem-text" target="_self"
          >Особистий кабінет</a
        >
      </li>
    </ul>

    <img class="element-logo2" src="./img/logo2.svg" alt="Logo 2" width="60" />
    <img src="./img/UA.svg" alt="Ua" width="35" />
  </nav>
</div>
