<div class="header">
  <nav class="heder-nav">
    <a href="/src/index.html" class="link elem-logo1" target="_self">
      <img src="./img/logo1.svg" alt="Logo 1" width="170" />
    </a>
    <ul class="header-list">
      <li>
        <a href="../index.html" class="link elem-text" target="_self"
          >Головна</a
        >
      </li>
      <li>
        <a href="../index1.html" class="link elem-text" target="_self"
          >Про нас</a
        >
      </li>
      <li>
        <a href="../index2.html" class="link elem-text" target="_self"
          >Забронювати</a
        >
      </li>
      <li>
        <a href="../index3.html" class="link elem-text" target="_self"
          >Контакти</a
        >
      </li>
      <li>
        <a href="../index4.html" class="link elem-text" target="_self"
          >Особистий кабінет</a
        >
      </li>
      <li class="element-logo2">
        <img src="./img/logo2.svg" alt="Logo 2" width="60" />
        <img src="./img/UA.svg" alt="Ua" width="35" />
      </li>
    </ul>
  </nav>
</div>
