<div class="swiper">
  <div class="swiper-child">
    <div class="swiper-info">
      <div class="swiper-elem1">
        <img src="../img/swiper-img1.jpg" alt="swiper array" width="245" />
        <!-- <p class="swiper-arr-text">Переглянути</p> -->
        <!-- <img src="../img/swiper-img1.jpg" alt="swiper array" width="34" /> -->
        <!-- <svg class="swiper-arr" width="34">
        <use href="../img/Arrow 1.svg"></use>
      </svg> -->
      </div>
      <p class="swiper-text">
        Полонини Карпат, у селі Орів посеред гір розташувався затишний куточок
        для незабутніх вражень. Справжні Українські гори, власноручне
        сироваріння на полонині, водоспади та вікові дерева чекають на Вас.
      </p>
      <img
        class="swiper-dots"
        src="../img/Component 7.svg"
        alt="swiper elements"
        width="194"
      />
      <!-- <svg class="" width="194" height="20">
      <use href="../img/Component 7.svg"></use>
    </svg> -->
    </div>
  </div>
  <!-- <img src="./img/swiper-main.jpg" alt="swiper card" width="1488" /> -->
</div>
