.about-us {
}
.about-us-title {
  font-size: 30px;
  font-weight: 400;
  color: black;
  padding-top: 55px;
  padding-left: 120px;
}
.about-div-img {
  width: 1575px;
  height: 227px;
  background-image: url(../img/about-us.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* margin-top: 20px; */
  margin-left: 90px;
  margin-bottom: 15px;
}
.about-div-block {
  text-align: center;
  /* margin-top: 0px, auto; */
  padding-left: 450px;
  padding-right: 450px;
  margin-top: 65px;
}
.about-div-img-subtitle {
  font-size: 28px;
  font-weight: 700;
  color: white;
}
.about-div-img-text {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: white;
}
.about-div-text {
  background-color: rgb(203, 203, 203, 100);
  width: 1574px;
  height: 380px;
  margin-left: 90px;
  /* text-align: center; */
}
.about-div-text-content {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: black;

  padding-left: 60px;
  padding-right: 60px;
  padding-top: 80px;
}
