.header {
  /* border: 5px solid red; */
  width: 1920px;

  background-color: rgb(38, 47, 82);
  height: 90px;
  display: flex;
  gap: 40px;
}
.heder-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 60px;
  width: 1066px;
  height: 57px;
  padding-top: 10px;
  align-items: center;
}
.header-list-elem {
  border-right: 2px solid #fff;
}
.element-logo2 {
  padding-left: 70px;
  padding-right: 15px;
}
.elem-logo1 {
  padding-left: 100px;
  margin-right: 250px;
}
.elem-text {
  color: white;
  font-size: 25px;
  font-weight: 500;
  padding-right: 50px;
}
