.part2 {
  max-width: 1488px;
  height: 412px;
  margin: 0 auto;
  background-color: rgb(193, 193, 195, 90%);
}
.part2-wrap {
  width: 1348px;
  height: 349px;
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-top: 31px;
}
.part2-img {
  padding-left: 120px;
}
.part2-text {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-family: 'PT Sans';
  text-align: center;
}
.part2-div-text {
  width: 632px;
  height: 349px;
  align-content: center;
  margin: 0 auto;
  background-color: rgb(234, 234, 235, 70%);
}
