/* скидання */
@import url('./reset.css');

/* Sections style */
@import url('./header.css');
@import url('./footer.css');
@import url('./part1.css');
@import url('./swiper.css');
@import url('./part2.css');
@import url('./callback.css');
@import url('./about-us.css');
@import url('./account.css');
@import url('./contacts.css');
@import url('./reservation.css');
@import url('./reservation-house.css');

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgb(220, 220, 220, 100);

  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}
.title-box {
  width: 1920px;
  height: 140px;
  background-color: rgb(198, 198, 220, 100);
  margin-bottom: 15px;
}
.array-up-div {
  position: relative;
}
.array-up {
  position: absolute;
  bottom: 250px;
  right: 90px;
  border-radius: 50%;
}
